@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif&display=swap');
@import "tailwindcss";


@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --default-font-family: "Noto Sans", sans-serif;
  --font-arabic: "Noto Sans Arabic", sans-serif;
  --font-logo: "Noto Serif", serif;
  --default-transition-duration: 350ms;
  --color-dark: var(--color-slate-800);
  --color-light: var(--color-white);
  --animate-spin: spin 5s linear infinite;
  
  @keyframes spin {
    0% {
      transform: rotate(0);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

[dir="rtl"] { @apply font-arabic; }

.content hr { @apply mt-8; }

.content strong { @apply font-semibold!; }

h1, h2, h3, h4 { @apply font-semibold; }

.content { @apply text-lg space-y-4; }
.content > p:has(+ ul), .content > p:has(+ ol) { margin-block-end: 0px; }

.content h2, .content h3, .content h4 { @apply mt-8; }
.content h1 { @apply mb-8 text-center text-5xl md:text-6xl; }
.content h2 { @apply text-3xl md:text-4xl; }
.content h3 { @apply text-2xl md:text-3xl; }
.content h4 { @apply text-xl md:text-2xl; }

.content ul, .content ol { @apply list-outside ps-6 space-y-1 ; }
.content li > ul, .content li > ol { @apply mt-1 mb-0; }
.content li p { @apply inline; }

.content ul { @apply list-disc; }
.content ul ul { @apply list-[circle]; }
.content ul ul ul { @apply list-[square]; }
.content ul ul ul ul { @apply list-disc; }
.content ul ul ul ul ul { @apply list-[circle]; } 

.content ol { @apply list-decimal; }
.content ol ol { @apply list-[lower-alpha]; }
.content ol ol ol { @apply list-[lower-roman]; }
.content ol ol ol ol { @apply list-decimal; }
.content ol ol ol ol ol { @apply list-[lower-alpha]; }

.content a { @apply underline text-blue-400 hover:text-blue-600! decoration-2 underline-offset-2; }

.content blockquote { @apply border-r-4 py-0.5 ps-2 pe-4 w-fit }
.content blockquote p { @apply block!; }
.content .blockquote-default, .content .blockquote-info { @apply text-sky-600 bg-sky-100 dark:text-sky-100 dark:bg-sky-800; }
.content .blockquote-important { @apply text-red-600 bg-red-100 dark:text-red-100 dark:bg-red-800; }
.content .blockquote-warning { @apply text-yellow-600 bg-yellow-100 dark:text-yellow-100 dark:bg-yellow-800; }
.content .blockquote-ok { @apply text-emerald-600 bg-emerald-100 dark:text-emerald-100 dark:bg-emerald-800; }