@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --default-font-family: "Noto Serif", serif;
  --default-transition-duration: 350ms;
  --color-dark: var(--color-slate-800);
  --color-light: var(--color-white);
  --animate-spin: spin 5s linear infinite;
  
  @keyframes spin {
    0% {
      transform: rotate(0);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

h1, h2, h3, h4 {
  @apply font-semibold;
}

.content {
  @apply text-lg;
}

.content h2 {
  @apply text-3xl md:text-4xl;
}

.content h3 {
  @apply text-2xl md:text-3xl;
}

.content h4 {
  @apply text-xl md:text-2xl;
}